PYTHONPATH=src
GRADIO_SERVER_PORT=22228
GRADIO_SERVER_NAME="0.0.0.0"
# port for HUD layer server
# used in OBS
HUD_LAYER_PORT=22236


# Nicknames section
# change ALL to your corresponding or minecraft nickname for your bot

# should be for now equal to SELF_MINECRAFT_NICKNAME
SELF_NAME="NetTyan"

# should be for now equal to SELF_NAME
SELF_MINECRAFT_NICKNAME="NetTyan"  
SELF_YOUTUBE_DISPLAYNAME="Net Tyan"
SELF_YOUTUBE_CHANNEL_ID="NetTyan"
SELF_TWITCH_USERNAME="nettyan_ai"
SELF_TROVO_USERNAME="NetTyan"
SELF_DISCORD_DISPLAYNAME="Net Tyan"
SELF_DISCORD_USERNAME="Net Tyan#4123"

# ally nickname list separated with comma with NO spaces
# add your nickname
RAZRABS="NetTyan,Chochok"
# nickname list and synonims for your bot
BOT_NICKNAMES="NetTyan,Net Tyan,NeTyan,NedoSama,Eva,Ева,НетТян,нет тян,Нетян,НетТуан,неттиан,TyankaTashit,NeuroDeva,neurodeva,WebcamTyan,ChoDedyTyan,ChoBabkeTyan"

# Модель распознавания речи
# 100 M мультиязычная модель
FASTER_WHISPER_MODEL_NAME="tiny"
# Вот эта получше для RU, но пожирнее, 3 G
# FASTER_WHISPER_MODEL_NAME="dvislobokov/faster-whisper-large-v3-turbo-russian"

# "cpu" or "cuda", use "cuda" if you installed it and have GPU
STT_COMPUTE_DEVICE = "cpu"

# Sound device configuration FOR TTS

# sound and FX can be same, its normal!
# CAUTION: OUTPUT is like a MIC, INPUT is like a SPEAKERS!
# For linux, Out device will be like Virtual_Mic, and IN like Virual_Sink
SOUND_DEVICE_IN = "CABLE Input (VB-Audio Virtual Cable)"
SOUND_DEVICE_OUT = "CABLE Output (VB-Audio Virtual Cable)"
FX_SOUND_DEVICE_IN = "CABLE Input (VB-Audio Virtual Cable)"
FX_SOUND_DEVICE_OUT = "CABLE Output (VB-Audio Virtual Cable)"
# Device sample rate, 48 kHz default
SOUND_DEVICE_SR = 48000


# lm studio embeddings
EMBEDDINGS_MODEL="text-embedding-user-bge-m3"
EMBEDDINGS_API_BASE="http://localhost:22227/v1"
EMBEDDINGS_API_KEY="sk-1234"

model_name_ext = ""

# proxy used for llm api calls, etc
# used in src\agent\llm_clients\lc_clients.py

# To run proxy, use your proxy program and set YOUR proxy port here
# Uncomment this and configure if you are using proxy!
# this will proxy all project internet trafic
# use for gemini, openai API models, etc
# proxy="http://127.0.0.1:2080"  # YOUR internet proxy (socks5/https/http)
# HTTP_PROXY=http://127.0.0.1:2080
# HTTPS_PROXY=http://127.0.0.1:2080
NO_PROXY = "localhost,127.0.0.1,::1,0.0.0.0"

# proxy = "NONE"  # if no proxy or system
START_SOCIAL=""
SPEECH_TO_TEXT_START=""


# EXTRA-PRIVATE!!! YOUR PRIVATE SERVICES API KEYS

# OBS control crenedtials (for screenshots and streaming control)
# Start the OBS,
# In upper bar choose Tools/WebSocket Server Settings,
# Enable WebSocket server, set port and password
# Set it here
OBS_WEBSOCKET_PORT="4455"
OBS_WEBSOCKET_PASSWORD="your_password_here"

# get from donationalerts
DONATIONALERTS_TOKEN=""

TWITCH_APP_SECRET=""
# specify your twitch channel twitch.tv/yourchannel <--
TWITCH_TARGET_CHANNEL="nettyan_ai"
TWITCH_APP_ID=""

# install lm studio,
# download
# embeddings user_bge_m3
# llm sainemo Q4,
# set the port in lm studio server configuration page
# start lm studio server
LM_STUDIO_API_BASE = "http://localhost:22227/v1"
LM_STUDIO_API_KEY = "sk-1241"
lm_studio_api_ext = "http://localhost:22227/v1"
lm_studio_api = "http://localhost:22227/v1"

# uncomment for use this local lm studio models
# CORE_LLM_MODEL_NAME="lm_studio/"

# Reasoning chooser
# affects prompt constructor unfinished prompt
# CORE_LLM_REASONNING="NONE"  # None if using non-reason model
# any other if reasoning enabled
CORE_LLM_REASONNING="TRUE"


CORE_LLM_API_BASE=NONE
CORE_LLM_MAX_TOKENS=NONE

# VISION_LLM_MODEL_NAME="openrouter/qwen/qwen2.5-vl-32b-instruct:free"  # can be equal to core LLM, just enables vision feature
# VISION_LLM_MODEL_NAME="NONE"  # Fully disable vision LLM usage


# Mistral = Good limits, work in RU with RU phone, free filter, but avg quality...
CORE_LLM_MODEL_NAME="mistral/pixtral-large-latest"
VISION_LLM_MODEL_NAME="mistral/pixtral-large-latest"
# filter
MistralApiKey=""
MISTRAL_API_KEY = ""
# Codestralcodestral/codestral-latest
# CORE_LLM_MODEL_NAME="codestral/codestral-latest"
CODESTRAL_API_KEY = ""


# Best free providers are Mistral, Google AI Studio, Cerebras, OpenRouter (but it limited)
# CORE_LLM_MODEL_NAME="cerebras/gpt-oss-120b"
# https://cloud.cerebras.ai/
CEREBRAS_API_KEY=""


# CORE_LLM_MODEL_NAME="openrouter/deepseek/deepseek-chat-v3.1:free"
# get from openrouter
OPENROUTER_API_KEY=""
# qwen

# CORE_LLM_MODEL_NAME = "gemini/gemini-2.5-flash-live-preview"
# get google keys from google ai studio
GEMINI_API_KEY = ""



# Groq, good monthly limits, but need proxying
# CORE_LLM_MODEL_NAME = "groq/moonshotai/kimi-k2-instruct-0905"
GROQ_API_KEY=""

# LIST OF FREE MODELS FOR TESTING
# https://github.com/cheahjs/free-llm-api-resources?tab=readme-ov-file#openrouter
# To use, use LiteLLM syntax in llm model names, help for specific providers here:
# https://docs.litellm.ai/docs/providers
