fastapi>=0.104.1
uvicorn>=0.24.0
python-Levenshtein>=0.23.0
pymorphy2>=0.9.1
transliterate>=1.10.2
pydantic>=2.9.0
requests>=2.31.0
torch>=2.0.0
transformers>=4.35.0
sentencepiece>=0.1.99
protobuf>=4.24.4
vllm>=0.6.6