<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/common.css">
    {% block styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body style="font-size:{% block font_size %}25pt{% endblock %}; color:rgba(255,255,255,100); text-align:{% block alignment %}left{% endblock %}; vertical-align:{% block vertical_align %}up{% endblock %}" align="center">
    <font face="{% block font_face %}Minecraft Rus{% endblock %}">
        <div class="OutlineText">
            {% block content %}{% endblock %}
        </div>
    </font>
    {% block body_scripts %}{% endblock %}
</body>
</html>
